* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px; 
}

body {
    background-color: #282828;
    margin-top: 70px;
}

.wrapper {
    background-color: rgb(255, 255, 255);
    width: 1920px;
    margin: auto;
    padding: 40px 360px 90px 360px;
}
