.line-team {
    margin: 0px auto 45px auto;
    height: 3px;
    width: 60px;
    background-color: #f38181;
}

.text-content {
    margin-bottom: 80px;
    text-align: center;
    padding: 0 128px;
    color: #999;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

/* ------team-------- */

.team-member {
    width: 380px;    
}

.team-card {
    position: relative;
    /* overflow: hidden; */
    background-color:#95e1d3;
    height: 470px;
}

.team-social {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 380px;
    height: 470px;
    right: 10px;
    top: 470px;
    background: linear-gradient(to bottom, #f38181, #fce38a);
}

.team-img:hover {
    transform: translate(-10px, -10px);
}

.team-img .team-social .team-img:hover  {
    top: 0px;
    /* transform: translate(-10px, -10px); */
    opacity: 0.1;
}

/*---- socials -----*/
.icon {
    width: 57px;
    height: 57px;
    background-color: #fce38a;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    
}

.icon-facebook {
    background-image: url(../img/team/facebook.svg);
   
}
.icon-twitter {
    background-image: url(../img/team/twitter.svg);
}
.icon-pinterest {
    background-image: url(../img/team/pinterest.svg);
}
.icon-instagram {
    background-image: url(../img/team/instagram.svg);
}


/* ---- info -----  */

.member-descr {
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #333;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.member-pos {
    display: block;
    padding-top: 16px;
    text-transform: none;
    color: #999;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
}