* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px; 
}

body {
    background-image: url("../img/background.png");
    background-color: rgb(232, 199, 240);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin-bottom: 200px;

}

.wrapper {
    background-color: #fff;
    width: 1024px;
    margin-bottom: 200px;
    margin: auto;
    padding: 60px 60px 136px 60px; 
}