/* ---- HEADER ---- */

.page-menu {
    width: 1024px;
    padding: 42px 90px 48px 90px;
    margin: auto;
    
}

.menu-item {
    display: inline-block;
    margin-right: 53px;
}


.menu-item:last-child {
    margin-right: 0;
}

.menu-link:hover {
    color: #263555;
    cursor: pointer;
}

.menu-link {
    color: #fff;
    font-size: 28px;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}


/* --- submenu----- */

.subMenu {
    box-sizing: border-box;
    background: white;
    padding: 10px 10px;
    border-radius:5px;
    list-style: none;
    text-align: center;
}

.subMenu-link {
    color: #6b7488;
    font-size: 20px;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    text-decoration: none;

}

.subMenu-link:hover{
    color: #525a7f;
    text-decoration: underline;
}

.subMenu {
    display: none;
    position: absolute;
    left: -6px;
}

.subMenu::before {
    position: absolute;
    top: -3px;
    left: 31px;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 2.5px 3px 2.5px;
    border-color: transparent transparent #fff transparent;
}

.itemSubMenu:hover .subMenu{
    display: block;
}


.itemSubMenu {
    position: relative;
}


/* ---- LOGO ----- */

.logo {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: 140px;
    width: 140px;
    background-color: #fff;
    border-radius: 70px;
}

.text-logo {
    display: inline-block;
    font-family: 'Dorsa', sans-serif;
    line-height: 140px;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: normal;
    color: #263555;
}



