.container--footer {
    padding: 70px 10px 10px;
}

.line {
    outline: solid 1px $line-color;
    width: 100%;
    margin-bottom: 10px;
}

.copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.copyright__text {
    color: $primary-dark;
    font-size: 14px;
    font-family: $primary-font;
    font-weight: normal;
}

.copyright__link {
    color: $color-background;
    text-decoration: none;
}

/* ----FORM----- */


.form__text {
    display: inline-block;
    padding: 5px 13px;
    width: 229px;
    height: 40px;
    border: 1px solid $input-border;
    color: $placeholder-text-color;
    font-size: 15px;
    font-family: $secondary-font;
    font-weight: 300;
    font-style: italic;
}

.form__btn {
    display: inline-block;
    margin-left: -5px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    background: transparent;
    border: transparent;
    background-color: $btn-color;
    color: $color-withe;
    font-family: $primary-font;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}