// -------FONTS-------------

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$cursive-font: 'Kaushan Script', cursive; 

// ------card colors -----------

$color-withe: #fff;
$color-yellow: #fce38a;
$color-background: #f38181;
$primary-dark: #333;
$secondary-dark: #999;
$line-color: #e5e5e5;
$btn-color: #95e1d3;
$placeholder-text-color: #d6d6d6;
$input-border: #e7e7e7;





