* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.body {
  display: flex;
  margin: 10px;
}

.section {
  width: 100%;
  margin: 5px;
  padding: 5px;
  text-align: center;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  color: #212121;
  border-radius: 2px;
}

.input-btm { 
  margin-bottom: 5px;
  text-transform: uppercase;
  border: 0;
  background-color: rgb(116, 197, 11);
  padding: 5px 5px;
  cursor: pointer;
  font-size: 10px;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
}

.list {
  width: 50%;
  height: auto;
  padding: 5px;
  margin: auto;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  color: #212121;
  border-radius: 2px;
  list-style: none;
}

.list-item {
  margin-bottom: 1px;
  padding: 5px;
  border: 1px double black;
  border-radius: 2px;
}

.input {
  outline: none;
  margin-bottom: 5px;
  width: 100%;    
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 0.313rem;
  text-transform: uppercase;
  color: black;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
 
}
