@font-face {
    font-family: "OpenSansCondensedLight";
    src: url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.eot");
    src: url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.woff") format("woff"),
    url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProRegulart";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
